# Mac
.DS_Store

# Temporary
tmp/
_tmp/
*.cache

# Python
/.pytest_cache/
*.pyc
*__pycache__*
*.ipynb_checkpoints*
*/.pytest_cache

# Eclipse
.project
.pydevproject

# Serpent
*inp.seed
*inp_*
*.inp_res*

# Specific Files
input/gpbr200/cpld_eq/gpbr200_7ge15_microxs*

kugelpy/doxygen/
